USE [CKONTOLOGY]
GO
/****** Object:  Table [dbo].[Alpha]    Script Date: 12/17/2014 11:07:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alpha](
	[FirstKeyphraseId] [bigint] NOT NULL,
	[SecondKeyphraseId] [bigint] NOT NULL,
	[AlphaValue] [real] NULL,
 CONSTRAINT [PK_Alpha] PRIMARY KEY CLUSTERED 
(
	[FirstKeyphraseId] ASC,
	[SecondKeyphraseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Beta]    Script Date: 12/17/2014 11:07:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beta](
	[FirstRelationId] [bigint] NOT NULL,
	[SecondRelationId] [bigint] NOT NULL,
	[RelevanceValue] [real] NULL,
 CONSTRAINT [PK_Beta] PRIMARY KEY CLUSTERED 
(
	[FirstRelationId] ASC,
	[SecondRelationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Class_ClassRelationship]    Script Date: 12/17/2014 11:07:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class_ClassRelationship](
	[SuperClassId] [bigint] NOT NULL,
	[SubClassId] [bigint] NOT NULL,
	[RelationshipId] [bigint] NOT NULL,
 CONSTRAINT [PK_Class_ClassRelationship] PRIMARY KEY CLUSTERED 
(
	[SuperClassId] ASC,
	[SubClassId] ASC,
	[RelationshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClassRelationship]    Script Date: 12/17/2014 11:07:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassRelationship](
	[Id] [bigint] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_ClassRelationship] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IPWeight]    Script Date: 12/17/2014 11:07:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IPWeight](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Value] [real] NULL,
 CONSTRAINT [PK_IPWeight] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Keyphrase]    Script Date: 12/17/2014 11:07:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keyphrase](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[MonoKeyphrases] [nvarchar](50) NULL,
	[Label] [nvarchar](max) NULL,
	[FormOrder] [ntext] NULL,
 CONSTRAINT [PK_Keyphrase] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Keyphrase_KeyphraseClass]    Script Date: 12/17/2014 11:07:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keyphrase_KeyphraseClass](
	[KeyphraseId] [bigint] NOT NULL,
	[ClassId] [bigint] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Keyphrase_KeyphraseClass] PRIMARY KEY CLUSTERED 
(
	[KeyphraseId] ASC,
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Keyphrase_KeyphraseRelationship]    Script Date: 12/17/2014 11:07:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keyphrase_KeyphraseRelationship](
	[SourceId] [bigint] NOT NULL,
	[TargetId] [bigint] NOT NULL,
	[RelationshipId] [bigint] NOT NULL,
	[RelValue] [real] NULL,
 CONSTRAINT [PK_Keyphrase_KeyphraseRelationship] PRIMARY KEY CLUSTERED 
(
	[SourceId] ASC,
	[TargetId] ASC,
	[RelationshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KeyphraseClass]    Script Date: 12/17/2014 11:07:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KeyphraseClass](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_KeyphraseClass] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KeyphraseGraph]    Script Date: 12/17/2014 11:07:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KeyphraseGraph](
	[Id] [bigint] NOT NULL,
	[KeyphraseGraph] [ntext] NULL,
 CONSTRAINT [PK_KeyphraseGraph] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KeyphraseRelationship]    Script Date: 12/17/2014 11:07:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KeyphraseRelationship](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[MinValue] [real] NULL,
	[MaxValue] [real] NULL,
	[Description] [ntext] NULL,
 CONSTRAINT [PK_KeyphraseRelationship] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Location]    Script Date: 12/17/2014 11:07:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](max) NOT NULL,
	[LocationWeight] [float] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Organization]    Script Date: 12/17/2014 11:07:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organization](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OrganizationName] [nvarchar](max) NOT NULL,
	[Synonym] [nvarchar](max) NULL,
	[OrganizationWeight] [float] NULL,
 CONSTRAINT [PK_Organization] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PartOfSpeech]    Script Date: 12/17/2014 11:07:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartOfSpeech](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [ntext] NULL,
 CONSTRAINT [PK_PartOfSpeech] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Person]    Script Date: 12/17/2014 11:07:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PersonName] [nvarchar](max) NOT NULL,
	[IdentityString] [nvarchar](max) NULL,
	[IdentitySynonym] [nvarchar](max) NULL,
	[PersonWeight] [float] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Phrase]    Script Date: 12/17/2014 11:07:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phrase](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[POSDictionary]    Script Date: 12/17/2014 11:07:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSDictionary](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[PartOfSpeechId] [bigint] NOT NULL,
 CONSTRAINT [PK_POSDictionary] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Topic]    Script Date: 12/17/2014 11:07:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Keyphrases] [nvarchar](max) NULL,
	[KG] [ntext] NULL,
	[Tags] [nvarchar](max) NULL,
 CONSTRAINT [PK_Topic] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Alpha] ([FirstKeyphraseId], [SecondKeyphraseId], [AlphaValue]) VALUES (4, 5, 0.99)
INSERT [dbo].[Alpha] ([FirstKeyphraseId], [SecondKeyphraseId], [AlphaValue]) VALUES (4, 12, 0.84)
INSERT [dbo].[Alpha] ([FirstKeyphraseId], [SecondKeyphraseId], [AlphaValue]) VALUES (4, 121, 0.8316)
GO
INSERT [dbo].[Beta] ([FirstRelationId], [SecondRelationId], [RelevanceValue]) VALUES (1, 2, 1)
INSERT [dbo].[Beta] ([FirstRelationId], [SecondRelationId], [RelevanceValue]) VALUES (1, 3, 0.95)
INSERT [dbo].[Beta] ([FirstRelationId], [SecondRelationId], [RelevanceValue]) VALUES (2, 1, 1)
SET IDENTITY_INSERT [dbo].[IPWeight] ON 

INSERT [dbo].[IPWeight] ([Id], [Name], [Value]) VALUES (1, N'Title', 0.4)
INSERT [dbo].[IPWeight] ([Id], [Name], [Value]) VALUES (2, N'Abstract', 0.3)
INSERT [dbo].[IPWeight] ([Id], [Name], [Value]) VALUES (3, N'Content', 0.2)
SET IDENTITY_INSERT [dbo].[IPWeight] OFF
SET IDENTITY_INSERT [dbo].[Keyphrase] ON 

INSERT [dbo].[Keyphrase] ([Id], [Name], [MonoKeyphrases], [Label], [FormOrder]) VALUES (1, N'tình trạng hoạt động kinh tế', NULL, NULL, NULL)
INSERT [dbo].[Keyphrase] ([Id], [Name], [MonoKeyphrases], [Label], [FormOrder]) VALUES (2, N'dân số không hoạt động kinh tế', NULL, NULL, NULL)
INSERT [dbo].[Keyphrase] ([Id], [Name], [MonoKeyphrases], [Label], [FormOrder]) VALUES (3, N'chính sách học nghề', NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Keyphrase] OFF
INSERT [dbo].[Keyphrase_KeyphraseClass] ([KeyphraseId], [ClassId], [Description]) VALUES (4, 1, N'lao động có việc làm')
INSERT [dbo].[Keyphrase_KeyphraseClass] ([KeyphraseId], [ClassId], [Description]) VALUES (5, 1, N'người có việc làm')
INSERT [dbo].[Keyphrase_KeyphraseClass] ([KeyphraseId], [ClassId], [Description]) VALUES (6, 1, N'thiếu việc làm')
INSERT [dbo].[Keyphrase_KeyphraseRelationship] ([SourceId], [TargetId], [RelationshipId], [RelValue]) VALUES (2, 1, 4, 0.84)
INSERT [dbo].[Keyphrase_KeyphraseRelationship] ([SourceId], [TargetId], [RelationshipId], [RelValue]) VALUES (4, 5, 1, 0.99)
INSERT [dbo].[Keyphrase_KeyphraseRelationship] ([SourceId], [TargetId], [RelationshipId], [RelValue]) VALUES (4, 12, 4, 0.84)
GO
SET IDENTITY_INSERT [dbo].[KeyphraseClass] ON 

INSERT [dbo].[KeyphraseClass] ([Id], [Name]) VALUES (1, N'tình trạng hoạt động kinh tế')
INSERT [dbo].[KeyphraseClass] ([Id], [Name]) VALUES (2, N'loại nghề nghiệp')
INSERT [dbo].[KeyphraseClass] ([Id], [Name]) VALUES (3, N'ngành kinh tế')
SET IDENTITY_INSERT [dbo].[KeyphraseClass] OFF
INSERT [dbo].[KeyphraseGraph] ([Id], [KeyphraseGraph]) VALUES (1, N'articleID:test
Keyphrases:{(4,lao động có việc làm,0.1666667,0.4,0),(5,người có việc làm,0.5,0.2666667,0),(6,thiếu việc làm,0.5,0.2666667,0),(1,tình trạng hoạt động kinh tế,0.6666667,0.25,0)}Relations:{(lao động có việc làm,người có việc làm,SYNONYM,1),(thiếu việc làm,tình trạng hoạt động kinh tế,A PART OF,4)}')
SET IDENTITY_INSERT [dbo].[KeyphraseRelationship] ON 

INSERT [dbo].[KeyphraseRelationship] ([Id], [Name], [MinValue], [MaxValue], [Description]) VALUES (1, N'SYNONYM', 0.95, 0.99, N'A đồng nghĩa với B')
INSERT [dbo].[KeyphraseRelationship] ([Id], [Name], [MinValue], [MaxValue], [Description]) VALUES (2, N'ACRONYM', 0.95, 0.99, N'A là dạng viết tắt của B')
INSERT [dbo].[KeyphraseRelationship] ([Id], [Name], [MinValue], [MaxValue], [Description]) VALUES (3, N'NEAR SYNONYM', 0.9, 0.94, N'A gần nghĩa với B')
SET IDENTITY_INSERT [dbo].[KeyphraseRelationship] OFF
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([Id], [LocationName], [LocationWeight], [Description]) VALUES (1, N'tỉnh Bình Dương', 0.99, NULL)
INSERT [dbo].[Location] ([Id], [LocationName], [LocationWeight], [Description]) VALUES (2, N'thành phố Thủ Dầu Một', 0.9, NULL)
INSERT [dbo].[Location] ([Id], [LocationName], [LocationWeight], [Description]) VALUES (3, N'thị xã Thuận An', 0.9, NULL)
SET IDENTITY_INSERT [dbo].[Location] OFF
SET IDENTITY_INSERT [dbo].[Organization] ON 

INSERT [dbo].[Organization] ([Id], [OrganizationName], [Synonym], [OrganizationWeight]) VALUES (1, N'Đại học Bình Dương ', N'ĐH Bình Dương ', 0.8)
INSERT [dbo].[Organization] ([Id], [OrganizationName], [Synonym], [OrganizationWeight]) VALUES (2, N'Đại học Kinh Tế Kỹ Thuật Bình Dương', N'ĐH Kinh Tế Kỹ Thuật Bình Dương', 0.8)
INSERT [dbo].[Organization] ([Id], [OrganizationName], [Synonym], [OrganizationWeight]) VALUES (3, N'Đại học Quốc Tế Miền Đông', N'ĐH Quốc Tế Miền Đông', 0.8)
SET IDENTITY_INSERT [dbo].[Organization] OFF
SET IDENTITY_INSERT [dbo].[PartOfSpeech] ON 

INSERT [dbo].[PartOfSpeech] ([Id], [Name], [Description]) VALUES (1, N'DongTu', NULL)
INSERT [dbo].[PartOfSpeech] ([Id], [Name], [Description]) VALUES (2, N'TinhTu', NULL)
INSERT [dbo].[PartOfSpeech] ([Id], [Name], [Description]) VALUES (3, N'GioiTu', NULL)
SET IDENTITY_INSERT [dbo].[PartOfSpeech] OFF
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([Id], [PersonName], [IdentityString], [IdentitySynonym], [PersonWeight], [Description]) VALUES (1, N'Phạm Văn Cành', N'Chủ tịch HĐND', N'Chủ tịch hội đồng nhân dân', 0.7, NULL)
INSERT [dbo].[Person] ([Id], [PersonName], [IdentityString], [IdentitySynonym], [PersonWeight], [Description]) VALUES (2, N'Trần Thị Kim Vân', N'Phó Chủ tịch HĐND', N'Phó Chủ tịch hội đồng nhân dân', 0.7, NULL)
INSERT [dbo].[Person] ([Id], [PersonName], [IdentityString], [IdentitySynonym], [PersonWeight], [Description]) VALUES (3, N'Mai Thị Dung', N'Ủy viên thường trực HĐND', N'Ủy viên thường trực hội đồng nhân dân', 0.7, NULL)
SET IDENTITY_INSERT [dbo].[Person] OFF
SET IDENTITY_INSERT [dbo].[Phrase] ON 

INSERT [dbo].[Phrase] ([Id], [Name]) VALUES (1, N'chính sách')
INSERT [dbo].[Phrase] ([Id], [Name]) VALUES (2, N'chương trình')
INSERT [dbo].[Phrase] ([Id], [Name]) VALUES (3, N'giải quyết')
SET IDENTITY_INSERT [dbo].[Phrase] OFF
SET IDENTITY_INSERT [dbo].[POSDictionary] ON 

INSERT [dbo].[POSDictionary] ([Id], [Name], [PartOfSpeechId]) VALUES (1, N'tham gia', 1)
INSERT [dbo].[POSDictionary] ([Id], [Name], [PartOfSpeechId]) VALUES (2, N'được', 1)
INSERT [dbo].[POSDictionary] ([Id], [Name], [PartOfSpeechId]) VALUES (3, N'có', 1)
SET IDENTITY_INSERT [dbo].[POSDictionary] OFF
SET IDENTITY_INSERT [dbo].[Topic] ON 

INSERT [dbo].[Topic] ([Id], [Name], [Keyphrases], [KG], [Tags]) VALUES (1, N'Giải quyết việc làm', N'giải quyết việc làm, xuất khẩu lao động, giới thiệu việc làm, vay vốn ưu đãi', NULL, N'giải quyết việc làm, xuất khẩu lao động, định hướng nghề nghiệp, tư vấn nghề nghiệp, giới thiệu việc làm, vay vốn ưu đãi, hội nhập kinh tế quốc tế, giảm thuế thu nhập')
INSERT [dbo].[Topic] ([Id], [Name], [Keyphrases], [KG], [Tags]) VALUES (2, N'Thất nghiệp', N'thất nghiệp, bảo hiểm thất nghiệp, trợ cấp thất nghiệp', NULL, N'thất nghiệp, người thất nghiệp, lao động thất nghiệp, giảm thất nghiệp, bảo hiểm thất nghiệp, trợ cấp thất nghiệp, giảm trợ cấp thất nghiệp, loại hình thất nghiệp')
INSERT [dbo].[Topic] ([Id], [Name], [Keyphrases], [KG], [Tags]) VALUES (3, N'Trợ cấp', N'trợ cấp, trợ cấp thôi việc, trợ cấp mất việc, trợ cấp thất nghiệp, tiền trợ cấp', NULL, N'trợ cấp, trợ cấp thôi việc, trợ cấp mất việc, trợ cấp thất nghiệp, tiền trợ cấp, giảm trợ cấp thất nghiệp')
SET IDENTITY_INSERT [dbo].[Topic] OFF
ALTER TABLE [dbo].[Beta]  WITH CHECK ADD  CONSTRAINT [FK_BetaTable_KeyphraseRelationshipTable] FOREIGN KEY([FirstRelationId])
REFERENCES [dbo].[KeyphraseRelationship] ([Id])
GO
ALTER TABLE [dbo].[Beta] CHECK CONSTRAINT [FK_BetaTable_KeyphraseRelationshipTable]
GO
ALTER TABLE [dbo].[Beta]  WITH CHECK ADD  CONSTRAINT [FK_BetaTable_KeyphraseRelationshipTable1] FOREIGN KEY([SecondRelationId])
REFERENCES [dbo].[KeyphraseRelationship] ([Id])
GO
ALTER TABLE [dbo].[Beta] CHECK CONSTRAINT [FK_BetaTable_KeyphraseRelationshipTable1]
GO
ALTER TABLE [dbo].[Class_ClassRelationship]  WITH CHECK ADD  CONSTRAINT [FK_Class_ClassRelationshipTable_ClassRelationshipTable] FOREIGN KEY([RelationshipId])
REFERENCES [dbo].[ClassRelationship] ([Id])
GO
ALTER TABLE [dbo].[Class_ClassRelationship] CHECK CONSTRAINT [FK_Class_ClassRelationshipTable_ClassRelationshipTable]
GO
ALTER TABLE [dbo].[Class_ClassRelationship]  WITH CHECK ADD  CONSTRAINT [FK_Class_ClassRelationshipTable_KeyphraseClassTable] FOREIGN KEY([SuperClassId])
REFERENCES [dbo].[KeyphraseClass] ([Id])
GO
ALTER TABLE [dbo].[Class_ClassRelationship] CHECK CONSTRAINT [FK_Class_ClassRelationshipTable_KeyphraseClassTable]
GO
ALTER TABLE [dbo].[Class_ClassRelationship]  WITH CHECK ADD  CONSTRAINT [FK_Class_ClassRelationshipTable_KeyphraseClassTable1] FOREIGN KEY([SubClassId])
REFERENCES [dbo].[KeyphraseClass] ([Id])
GO
ALTER TABLE [dbo].[Class_ClassRelationship] CHECK CONSTRAINT [FK_Class_ClassRelationshipTable_KeyphraseClassTable1]
GO
ALTER TABLE [dbo].[Keyphrase_KeyphraseClass]  WITH CHECK ADD  CONSTRAINT [FK_Keyphrase_KeyphraseClassTable_KeyphraseClassTable] FOREIGN KEY([ClassId])
REFERENCES [dbo].[KeyphraseClass] ([Id])
GO
ALTER TABLE [dbo].[Keyphrase_KeyphraseClass] CHECK CONSTRAINT [FK_Keyphrase_KeyphraseClassTable_KeyphraseClassTable]
GO
ALTER TABLE [dbo].[Keyphrase_KeyphraseClass]  WITH CHECK ADD  CONSTRAINT [FK_Keyphrase_KeyphraseClassTable_KeyphraseTable] FOREIGN KEY([KeyphraseId])
REFERENCES [dbo].[Keyphrase] ([Id])
GO
ALTER TABLE [dbo].[Keyphrase_KeyphraseClass] CHECK CONSTRAINT [FK_Keyphrase_KeyphraseClassTable_KeyphraseTable]
GO
ALTER TABLE [dbo].[Keyphrase_KeyphraseRelationship]  WITH CHECK ADD  CONSTRAINT [FK_Keyphrase_KeyphraseRelationshipTable_KeyphraseRelationshipTable] FOREIGN KEY([RelationshipId])
REFERENCES [dbo].[KeyphraseRelationship] ([Id])
GO
ALTER TABLE [dbo].[Keyphrase_KeyphraseRelationship] CHECK CONSTRAINT [FK_Keyphrase_KeyphraseRelationshipTable_KeyphraseRelationshipTable]
GO
ALTER TABLE [dbo].[Keyphrase_KeyphraseRelationship]  WITH CHECK ADD  CONSTRAINT [FK_Keyphrase_KeyphraseRelationshipTable_KeyphraseTable] FOREIGN KEY([SourceId])
REFERENCES [dbo].[Keyphrase] ([Id])
GO
ALTER TABLE [dbo].[Keyphrase_KeyphraseRelationship] CHECK CONSTRAINT [FK_Keyphrase_KeyphraseRelationshipTable_KeyphraseTable]
GO
ALTER TABLE [dbo].[Keyphrase_KeyphraseRelationship]  WITH CHECK ADD  CONSTRAINT [FK_Keyphrase_KeyphraseRelationshipTable_KeyphraseTable1] FOREIGN KEY([TargetId])
REFERENCES [dbo].[Keyphrase] ([Id])
GO
ALTER TABLE [dbo].[Keyphrase_KeyphraseRelationship] CHECK CONSTRAINT [FK_Keyphrase_KeyphraseRelationshipTable_KeyphraseTable1]
GO
