<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="SemaNewsDBContext" connectionString="Data Source=.;Initial Catalog=SemaNewsDB;Persist Security Info=True;User ID=sa;Password=Password123@;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CKONTOLOGYCreateKGEntities" connectionString="metadata=res://*/DatabaseModel.CKONTOLOGYCreateKG.csdl|res://*/DatabaseModel.CKONTOLOGYCreateKG.ssdl|res://*/DatabaseModel.CKONTOLOGYCreateKG.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=CKONTOLOGY;User ID=sa;Password=Password123@;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CKONTOLOGYEntities" connectionString="metadata=res://*/DatabaseModel.CKONTOLOGYModel.csdl|res://*/DatabaseModel.CKONTOLOGYModel.ssdl|res://*/DatabaseModel.CKONTOLOGYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=CKONTOLOGY;User ID=sa;Password=Password123@;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DTC_DTNN_CKONTOLOGYCreateKGEntities" connectionString="metadata=res://*/DatabaseModel.DTC_DTNN_CKONTOLOGYCreateKGModel.csdl|res://*/DatabaseModel.DTC_DTNN_CKONTOLOGYCreateKGModel.ssdl|res://*/DatabaseModel.DTC_DTNN_CKONTOLOGYCreateKGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=DTC_DTNN_CKONTOLOGY;User ID=sa;Password=Password123@;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DTC_DTNN_CKONTOLOGYEntities" connectionString="metadata=res://*/DatabaseModel.DTC_DTNN_CKONTOLOGYModel.csdl|res://*/DatabaseModel.DTC_DTNN_CKONTOLOGYModel.ssdl|res://*/DatabaseModel.DTC_DTNN_CKONTOLOGYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=DTC_DTNN_CKONTOLOGY;User ID=sa;Password=Password123@;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>